# Don’t commit the following directories created by pub.
build/
packages
example/packages
example/plugins/test/packages

# Include when developing application packages.
pubspec.lock

# Don't commit project files created from eclipse
.settings/
.project
